.submit-comment-btn:hover::after{
    position: absolute;
    content: hello world!;
    display: inline-block;
    left: 0px;
    top: 0px;
    padding: 5px;
    background-color: black;
    color: white;

}


.likers-section{
  padding: 20px; 
  border-top: 1px solid #eee;
}

.display-liker{
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #eee;
  gap: 10px;
}
.display-comment{
    display: flex;
}

.profile-avatar-comment{
    width: 3rem;
  height: 3rem;
  border-radius: 999px;
  object-fit: cover;
  border: 1px solid #d8d8d8;
  background: #eeeeee;
}

.profile-avater-placeholder-comment{
      display: flex;
  align-items: center;
  justify-content: center;
  color: #888888;
  font-size: 14px;
  text-align: center;
    width: 3rem;
  height: 3rem;
  border-radius: 999px;
  object-fit: cover;
  border: 1px solid #d8d8d8;
  background: #eeeeee;
}

.display-user{
    margin-left: 0.5rem;
    
}

.display-handle{
  font-size: 14px;
  color: #777777;
  margin-top: 2px;
}