/*
  File Name: settings.css

  Description: Styles for UserSettings.tsx

  Author(s): Owen Berkholtz
*/

.settings-title {
    margin-left: 100px;
    color: #1f1f1f;
}

.settings-body {
    margin-left: 120px;
    color: #333333;
    font-family: "Handjet", "Segoe UI", "Helvetica Neue", Arial, sans-serif;

}

.toggle-button {
    background-color: #d9d9d9;
    border: 1px solid #9e9e9e;
    border-radius: 99px;
    width: 50px;
    height: 25px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

.toggle-button.isToggled {
    background-color: #9f9f9f;
}

.circle {
    height: 18px;
    width: 18px;
    position: absolute;
    transition: left 0.15s ease;
    border-radius: 50%;
    background-color: #f4f4f4;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}
.toggle-button.isToggled .circle {
    left: 27px;
}

.settings-btn{
    padding: 10px;
    cursor: pointer;
}

.settings-btn-important{
    padding: 10px;
    cursor: pointer;
    border-color: #8f8f8f;
    color: #3b3b3b;
}

.confirm_box{
    display: inline;
    align-items: center;
}

.confirm_accept{
            padding: 0.75rem;
            background-color: #cfcfcf;
            color: #202020;
            border: 1px solid #b5b5b5;
            margin-top: 30px;
            font-weight: bold;
            width: 50%;
            margin-left: 25%;

        
}

.confirm_accept:hover{
    cursor: pointer;
}

.change_user{
    padding: 10px;
    width: 51%;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    background: #efefef;

}