/*
  File Name: App.css

  Description: App-level styling

  Author(s): Connor Anderson, Bryson Toubassi
*/

body {
  margin: 0;
}

#root {
  font-family: "Inter", sans-serif;
}

.auth-layout {
  display: flex;
  height: 100vh;
}

.auth-left {
  width: 60%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-left h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}

.auth-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
