.bulletin {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Handjet", "Segoe UI", Arial, sans-serif;
}

.bulletin-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 12px;
  width: 100%;
  padding: 20px;
}

.edit-bulletin-button {
  font-family: "Handjet", "Segoe UI", Arial, sans-serif;
  height: 34px;
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid #bcbcbc;
  background: #d7d7d7;
  color: #262626;
  font-size: 15px;
  gap: 6px
}

.edit-bulletin-button:hover {
  background-color: #c6c6c6;
}