.edit-bulletin {
  width: 500px;
  height: 100%;
  border: 1px solid #cdcdcd;
  font-family: "Handjet", "Segoe UI", Arial, sans-serif;
}

.edit-bulletin-title {
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.edit-bulletin-unsaved-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  margin: none;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.edit-bulletin-save-button {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #d7d7d7;
  font-family: "Handjet", "Segoe UI", Arial, sans-serif;
  height: 34px;
  width: fit-content;
  border: 1px solid #bcbcbc;
  color: #262626;
  font-size: 15px;
  margin-right: 20px;
}

.edit-bulletin-save-button:hover {
  background-color: #c6c6c6;
}

.edit-bulletin-components-title {
  padding-left: 10px;
  padding-bottom: 7px;
  margin: 0px;
}

.specific-component-editor {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.edit-box {
  display: flex;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  padding: 20px;
  border: 1px solid #cdcdcd;
  background: #e4e4e4;
}

.component-text{
  padding-bottom: 10px
}

.edit-select {
  height: 28px;
  padding: 2px 10px;
  border: 1px solid #bdbdbd;
  background: #ffffff;
  border-radius: 2px;
  font-weight: 600;
}

.specific-component-editor-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 25px;
  height: 25px;
}

.specific-component-editor-button:hover {
  background-color: #e5e5e5;
}

.specific-component-editor-delete {
  display: flex;
  align-items: center;
  border: none;
  color: #b42318;
  font-size: 17px;
  width: 30px;
  height: 30px;
}

.specific-component-editor-delete:hover {
  color: #b42318;
  background-color: #edd8d8;
}

.specific-component-editor-name-rename {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.specific-component-editor-delete-arrows {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.specific-component-editor-arrows {
  display: flex;
  flex-direction: column;
}

.add-new-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;
  font-family: "Handjet", "Segoe UI", Arial, sans-serif;
  width: 100%;
  border: none;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  justify-content: left;
  padding-left: 10px;
  gap: 10px;
}

.add-new-component:hover {
  background-color: #e5e5e5;
}

.add-new-component-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}