/*
  File Name: Accordion.css

  Description: Style component for Accordion.tsx

  Author(s): Owen Berkholtz
*/

.accordion-container {
  background: #f1f1f1;
  border: 1px solid #cdcdcd;
  overflow: hidden;
  width: 35%;
  font-family: "Handjet", "Segoe UI", Arial, sans-serif;
}

.accordion-trigger {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  background-color: #e4e4e4;
  font-size: 1rem;
  font-family: "Handjet", "Segoe UI", Arial, sans-serif;
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.accordion-trigger:hover {
  background: #d7d7d7;
}

.accordion-content {
  display: grid;
  padding: 15px;
  gap: 15px;
}

.accordion-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
  width: 20px;
  height: 20px;
}

.accordion-arrow.rotated {
  display: inline-block;
  transform: rotate(90deg);
}

.accordion-arrow:hover {
  cursor: pointer;
  background-color: #d7d7d7;
}

.dropdown-container {
  display: flex;
  height: fit-content;
  border: 1px solid #cdcdcd;
  overflow: hidden;
  margin-top: -10px;
  background: #f1f1f1;
}

.dropdown-button {
  font-size: 0.95rem;
  font-family: "Handjet", "Segoe UI", Arial, sans-serif;
  display: flex;
  min-width: 140px;
  border: none;
  width: 100%;
  justify-content: center;
  background: #f1f1f1;
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.accordion-inner h3 {
  margin: 0;
  padding: 0;
}

.dropdown-item:hover,
.dropdown-button:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}