/*
  File Name: Modal.css

  Description: Styling for the generic modal in Modal.tsx

  Author(s): Owen Berkholtz
*/

/* Fullscreen backdrop */
.popup_window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5); 

    z-index: 9999;
}


/* Actual modal box */
.modal_container {
    position: relative;
    background: white;
    padding: 32px;
    border-radius: 15px;
    min-width: 400px;
    max-width: 90vw;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


/* Exit button */
.exit_btn {
    position: absolute;
    top: 10px;
    right: 8px;

    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: red;

    cursor: pointer;
}

.exit_btn:hover {
    color: pink;
}