/*
  File Name: Modal.css

  Description: Styling for the generic modal in Modal.tsx

  Author(s): Owen Berkholtz
*/

/* Fullscreen backdrop */
.popup_window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5); 

    z-index: 9999;
}

.modal-header{
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    border-bottom: grey solid 1px;
    padding-bottom: 0.5rem;
}

.Title{
    font-size: x-large;
    font-weight: bold;
}
/* Actual modal box */
.modal_container {
    position: relative;
    background: white;
    border-top: grey, solid, 1px;
    padding: 32px;
    border-radius: 12px;
    min-width: 400px;
    max-width: 90vw;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


/* Exit button */
.exit_btn {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    border: none;
    background: none;
    font-weight: bold;
    color: red;

    cursor: pointer;
}

.exit_btn:hover {
    color: pink;
}
